#### Notebook to get info of the Libras Movement dataset

In [88]:
Datasets_list = ["movement_libras","movement_libras_1","movement_libras_5",
                 "movement_libras_8","movement_libras_9","movement_libras_10"]
Datasets_dirs = list()
for dataset in Datasets_list:
    Datasets_dirs.append("LibrasDatasets/"+str(dataset)+".data")

In [89]:
import pandas as pd
data_col_names = list() 
for i in range(90):
    data_col_names.append("X_col"+str(i+1))
data_col_names.append("Y_col")
data = pd.read_csv(Datasets_dirs[0], names=data_col_names)
data.sample(5)

,X_col1,X_col2,X_col3,X_col4,X_col5,X_col6,X_col7,X_col8,X_col9,X_col10,...,X_col82,X_col83,X_col84,X_col85,X_col86,X_col87,X_col88,X_col89,X_col90,Y_col
155,0.82205,0.51852,0.82205,0.51620,0.82205,0.51389,0.82205,0.51852,0.82205,0.51620,...,0.55556,0.37331,0.55324,0.35783,0.55324,0.34043,0.55324,0.32302,0.55324,7
16,0.24565,0.31713,0.24371,0.31481,0.24178,0.31713,0.25532,0.30093,0.28820,0.28241,...,0.57176,0.64217,0.47222,0.57834,0.37269,0.49903,0.30324,0.40812,0.27778,1
321,0.33075,0.29630,0.33269,0.29167,0.33269,0.29167,0.33462,0.29167,0.33269,0.28935,...,0.44213,0.88975,0.42593,0.89555,0.40509,0.89942,0.39120,0.90135,0.37963,14
288,0.71760,0.72917,0.71567,0.72917,0.71760,0.72917,0.71567,0.73148,0.70986,0.73380,...,0.25231,0.53965,0.25000,0.57447,0.24306,0.60928,0.22917,0.63830,0.21065,13
343,0.14700,0.67361,0.15280,0.67593,0.14894,0.67361,0.15280,0.67361,0.14507,0.67130,...,0.56481,0.83946,0.58796,0.84913,0.60648,0.85880,0.62500,0.86267,0.63889,15

In [90]:
print("Data shape: ",data.shape[0]," rows * ",data.shape[1]," columns")
X = data.drop(['Y_col'], axis=1)
# print(X.shape)

df = pd.DataFrame(X)  
df.style.set_table_styles([{'selector' : '', 'props' : [('border','10px solid yellow')]}])
df.sample(5)

Data shape:  360  rows *  91  columns

,X_col1,X_col2,X_col3,X_col4,X_col5,X_col6,X_col7,X_col8,X_col9,X_col10,...,X_col81,X_col82,X_col83,X_col84,X_col85,X_col86,X_col87,X_col88,X_col89,X_col90
29,0.72340,0.37963,0.72340,0.37731,0.723400,0.37731,0.723400,0.37731,0.725340,0.37731,...,0.61315,0.40278,0.57060,0.40046,0.53191,0.40046,0.49516,0.40046,0.46228,0.40046
348,0.10058,0.46528,0.10058,0.46296,0.098646,0.46296,0.096712,0.46528,0.098646,0.46528,...,0.93810,0.57639,0.94391,0.58796,0.93810,0.59259,0.93424,0.59028,0.93037,0.59028
168,0.74275,0.68750,0.74275,0.68750,0.742750,0.65972,0.742750,0.69444,0.742750,0.65278,...,0.71567,0.36574,0.71760,0.34491,0.71760,0.32407,0.71760,0.30556,0.71760,0.28704
337,0.80271,0.54630,0.80077,0.54398,0.802710,0.54398,0.802710,0.54630,0.802710,0.54398,...,0.20503,0.64583,0.20503,0.68056,0.20696,0.71296,0.21083,0.74537,0.21277,0.77315
212,0.37524,0.64120,0.37524,0.64352,0.375240,0.64120,0.375240,0.64120,0.375240,0.64352,...,0.33269,0.59722,0.34043,0.59491,0.33656,0.58102,0.32882,0.58333,0.33075,0.58333

In [91]:
Y = data['Y_col']
# print(Y.shape)
df = pd.DataFrame(Y)  
df.style.set_table_styles([{'selector' : '', 'props' : [('border','10px solid yellow')]}])
df.sample(5)

     Y_col
51       3
273     12
71       3
125      6
101      5

In [92]:
print("Classes: ",set(Y))

Classes:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}